<div style="overflow-y:hidden;" class="d-flex flex-row justify-content-evenly ">
    <!-- contient la zone de preview des cartes    -->
    <div style="width:42.3vw;height:83vh;" class="scroll m-3 d-flex align-content-start  flex-wrap   " > 
        <div *ngFor="let result of cardList" class="position-relative ">

            <div style="width:13vh;height:19vh;" [ngStyle]="{background: 'url(' + result.cardImgSmall + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover' }" (mouseenter)="cardSelected = cardList.indexOf(result) " >
                <div class="position-absolute top-0 end-0 py-1" style="background:rgba(0, 0, 0, 0.5);vertical-align: middle;" >
                    <i *ngIf="!result.isOwned" class="bi-postage ms-1" style="font-size: 1.5rem; color: rgb(255, 255, 255);" (click)="setOwned(cardList.indexOf(result))"> </i>
                    <i *ngIf="result.isOwned" class="bi-postage-fill ms-1" style="font-size: 1.5rem; color: rgb(255, 255, 255);" (click)="setOwned(cardList.indexOf(result))"> </i>
                    <i *ngIf="!result.isFavorite" class="bi-heart mx-1" style="font-size: 1.5rem; color: rgb(255, 255, 255);" (click)="setFavorite(cardList.indexOf(result))"> </i>
                    <i *ngIf="result.isFavorite" class="bi-heart-fill mx-1" style="font-size: 1.5rem; color: rgb(255, 255, 255);" (click)="setFavorite(cardList.indexOf(result))"> </i>
                </div>
            </div> 
            <!-- {{result.cardName}}  {{result.cardPrice}}  -->
        </div>
    </div>
    <!-- contient les infos de la carte selectionnée -->
    <div style="padding: 0; margin: 0; width: 50vh; text-align: center;">
        <div id="cardPreviewZone" class="mx-auto mt-3 card-image" 
            [ngStyle]="{'width': '20vw', 'height': '57vh'}">
            <img id='cardPreviewImage' [src]="cardList[cardSelected].cardImg" alt="Card Preview">
        </div>    
        <div class="justify-content-center">
            <div class="mx-auto fs-5 pt-2">{{cardList[cardSelected].cardName}}</div>
            <div><span class="fs-7">Cardmarket price : {{cardList[cardSelected].cardPrice}}€</span></div>
            <div class="fs-7">{{nbOwned}}/{{cardList.length}} <i class="bi-file-break "></i> <ng-container class="ms-auto">{{nbOwnedFav}}/{{nbFav}} <i class="bi bi-heart-fill"></i></ng-container></div>
    
            <div class="justify-content-evenly mt-1">
                <button class="btn-sm btn btn-danger mx-3" (click)="setAllFavorite()"> <i class="bi bi-heart-fill"></i> All</button>    
                <button class="btn-sm btn btn-success mx-3" (click)="exportToClipboard()">Export  <i class="bi bi-file-earmark-arrow-up-fill"></i></button>
                <button class="btn-sm btn btn-info mx-3" (click)="cardSelected = cardSelected + 1"> <i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </div>
</div>